.card-component {
  border: 1px solid gray;
  max-height: 200px;
  width: 350px;
  border-radius: 5px;
  position: relative;
}

.team-logo-container {
  background-color: black;
  padding: 10px;
}

.team-logo-container {
  height: auto;
  width: 50px;
}

.team-logo-container img {
  height: 50px;
  width: 50px;
}

.team-logo-container, .team-metadata-container,
.winner-display {
  display: inline-block;
}

.team-metadata-container {
  margin: 10px 25px;
}

.team-metadata-container h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.team-metadata-container h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.team-metadata-container.small-container {
  vertical-align: top;
}

.winner-banner {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}


h1.team-name-small {
  font-size: 12px;
}

.winner-display {
  position: absolute;
  right: 4px;
  top: 0px;
  font-size: 12px;
}